@import 'css/loginpage.less';

@import (less) 'node_modules/materialize-css/dist/css/materialize.css';

body {
  font-family: 'Roboto', sans-serif;
}

.slides li img {
  width: 100%;
}

#gamesIWant li {
  font-size: 2.1rem !important;
}

#gamesIWant li button {
  left: 12px;
  padding-left: 15px;
  padding-right: 15px;
}

#gamesIOwn li {
  font-size: 2.1rem !important;
}

#gamesIOwn li button {
  left: 12px;
  padding-left: 15px;
  padding-right: 15px;
}

#gamescontainer {
  margin: auto;
	text-align: center;
}
#gamescontainer li{
  display: inline-block;
  margin-right: 8px;
}

.footer-text {
  font-size: 1.45rem;
}

#home, #loginform, #create-profile, #profile, #search, #matches{
  display: none;
}

.nav, #search-button, #del-button {
  font-family: 'Bahiana', cursive;
}

.nav ul a {
  font-size: 2rem;
}

.brand-logo {
  font-size: 4.1rem !important;
}

.profile-template h5 {
  padding-left: 15px;
}

.profile-template {
  background-color: white;
}

.row {
  margin-top: 1.4rem;
}

#own-and-want {
  padding-left: 1.5rem;
}

#add-owned ul {
  display: inline-block;
}

#add-owned ul li {
  display: inline-block;
}

select {
  display: inline-block;
}


  /**  MOBILE LAYOUT  (portrait and landscape) **/
@media only screen and (max-width : 500px) {

  body, #profile, #add-owned, .nav, .nav-wrapper {
    width: 100%;
  }

  .dropdown-button {
    padding-right: 11px;
  }

  #game-search-row {
    width: 85%;
    margin-left: 0px;
    margin-right: 0px;
  }

  #own-and-want div h2 {
		font-size: 2.1em;
  }

  #gamesIOwn li, #gamesIWant li{
    font-size: 1.1em !important;
  }

  #gamesIOwn li button, #gamesIWant li button{
    padding-left: 4px !important;
    padding-right: 4px !important;
    height: 32px !important;
  }

  #gamescontainer li {
    margin-right: 0px;
  }
  #own-button {
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 7px;
  }
  #want-button {
    padding-left: 12px;
    padding-right: 12px;
  }

}

/**  TABLET LAYOUT  **/
@media only screen and (max-width : 979px) {
    /**  TABLET-THEME  **/

    .nav-wrapper {
      width: 100%;
    }

    #game-search-row {
      width: 85%;
      margin-left: 0px;
      margin-right: 0px;
    }

    #own-and-want div h2 {
      font-size: : 3.1em;
    }

    #gamesIWant li {
      font-size: 2.1rem !important;
    }

    #gamesIWant li button {
      left: 12px;
      padding-left: 15px;
      padding-right: 15px;
    }

    #gamesIOwn li {
      font-size: 2.1rem !important;
    }

    #gamesIOwn li button {
      left: 12px;
      padding-left: 15px;
      padding-right: 15px;
    }
}

/**  DESKTOP LAYOUT **/
@media only screen and (min-width : 980px) {

  #own-and-want div h2 {
    font-size: : 3.1em;
  }

  #gamesIWant li {
    font-size: 2.1rem !important;
  }

  #gamesIWant li button {
    left: 12px;
    padding-left: 15px;
    padding-right: 15px;
  }

  #gamesIOwn li {
    font-size: 2.1rem !important;
  }

  #gamesIOwn li button {
    left: 12px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

/*@media only screen and (min-device-width: 480px){
  #own-and-want div h2 {
		font-size: 2.1em;
  }

  #gamesIOwn li, #gamesIWant li{
    font-size: 1.1em !important;
  }

  #gamesIOwn li button, #gamesIWant li button{
    padding-left: 4px !important;
    padding-right: 4px !important;
    height: 32px !important;
  }

}*/
